*{
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 238, 238);
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.container{
    width: 75vw;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.container div{
    height: 100%;
    flex-basis: 15%;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 gray;
    background-position: center;
}

.container div:nth-child(1){
    /* flex-basis: 20%; */
    background-image: url(images/Image1.jpg);
}

.container div:nth-child(2){
    min-width: 630px;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url(images/Image2.jpg);
}

.container div:nth-child(3){
    background-image: url(images/Image3.jpg);
}

.container div:nth-child(4){
    background-image: url(images/Image4.jpg);
}
