

:root{
    --bg: #d9d9d9;
    --grey-text: #595959;
    --grey-time: #acacac;
}



body{
    font-family: "Inter", sans-serif;
    background-color: var(--bg);
    color: var(--grey-text);
}

section{
    height: 100vh;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 60px;
}

.card{
    width: 30%;
    box-shadow: 2px 2px 10px 2px rgb(187, 182, 182);
}

.card .content{
    padding: 20px 30px;
}

.card .img{
    height: 220px;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .subtitle{
    font-weight: bolder;
    font-size: 14px;
    margin-bottom: 4px;
}

.content .title{
    color: black;
    font-weight: 300;
    margin-top: 4px;
    margin-bottom: 12px;
}

.content .text{
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 30px;
}


.footer{
    border-top: 2px solid var(--grey-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.footer .left-part{
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer .left-part img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.footer .left-part .name{
    color: black;
}

.footer .time{
    color: var(--grey-time);
}