

:root{
    --bg-color: #e9e9e9;
    --section-bg: #fafafa;
    --form-color: #d6cdcd;
    --placeholder: #999999;
    --btn-bg: #111111;    
}


body{
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.card{
    display: flex;
    justify-content: stretch;
    align-items: center;
    box-shadow: 3px 6px 3px 0px lightgray;
    background-color: var(--section-bg);
    height: 60vh;
    width: 50%;
    border-radius: 2px;
}

.left-part{
    height: 100%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    color: white;
    background: linear-gradient(90deg, rgba(0,0,0,0.6615780101102942) 100%, rgba(0,0,0,0.7960317916228992) 100%), url('image/cover.jpg');
    /* background-image: url(image/cover.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* filter: brightness(30%); */
    padding: 2rem;
}

.logo{
    font-size: x-small;
    align-self: flex-start;
}

.titles{
    text-align: center;
}
.title{
    font-size: x-large;
    font-weight: 300;
}

.subtitle{
    font-size: medium;
    font-weight: 300;
}

.icons i{
    margin-left: 8px;
}

.right-part form{
    flex-basis: 50%;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;  
    height: 100%;
}

form{
    width: 100%;
}

form .fill{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

label{
    color: var(--form-color);
    font-size: small;
    margin: 0.5rem 0;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--form-color);
    padding-left: 8px;
    font-size: small;
}

input::placeholder{
    color: var(--placeholder);
}

.lastForm{
    margin-top: 2rem;
}

.lastForm .btn{
    background-color: var(--btn-bg);
    color: white;
    border-radius: 2rem;
    border: none;
    padding: 0.5rem 2rem;
    font-size: small;
    margin-right: 0.5rem;
}

.lastForm a{
    font-size: smaller;
    color: var(--placeholder);
}

