body{
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
    grid-template-columns: 100px auto;
    gap: 10px;

   
}

body *{
    border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;
}

header{
    grid-area: header;
}

header h1{
    display: inline-block;
    vertical-align: middle;
}

main{
    grid-area: main;
}

main ul{
    margin-left: 30px;
}
aside{
    grid-area: aside;
}

aside ul{
    list-style: none;
    margin: 0px;
    padding: 5px;
}

aside ul li a{
    display: block;
    padding: 5px 0px;
    color: rgb(86, 40, 129);
    text-decoration: none;
}

footer{
    grid-area: footer;
}