body{
    margin: 50px 80px;
}

header{
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

header p{
    font-family: sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    margin-bottom: 30px;
}

header ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 2rem;
}

header ul li a{
    color: rgb(0, 153, 0);
    font-size: 14px;
    text-decoration: none;
}

main h1{
    font-weight: 300;
}